body {
    background: url(gambar.png);
}

.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Bintang-bintang tidak mengganggu interaksi */
    z-index: -1; /* Mengatur bintang berada di belakang konten */
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    opacity: 10;
}

/* Animasi berkedip */
@keyframes twinkle {
    0% { opacity: 0.8; transform: scale(1); }
    50% { opacity: 0.4; transform: scale(1.2); }
    100% { opacity: 0.8; transform: scale(1); }
}

eft: 80%; animation: twinkle 6s infinite; }/* Mengatur animasi untuk bintang */
.star:nth-child(1) { top: 10%; left: 20%; animation: twinkle 2s infinite; }
.star:nth-child(2) { top: 20%; left: 70%; animation: twinkle 3s infinite; }
.star:nth-child(3) { top: 35%; left: 45%; animation: twinkle 4s infinite; }
.star:nth-child(4) { top: 50%; left: 15%; animation: twinkle 5s infinite; }
.star:nth-child(5) { top: 70%; l